.Admin{
  overflow:scroll;
  height:90vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  ul{
    margin:0;
    padding:0;
    width: 90%;
    list-style: none;
    height:5%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    li{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      height:100%;
      width:30%;
      text-align: center;
    }
  }
  >div{
    width:90%;
    background-color:green;
    height:90%;
  }
}
.NewEvent{

  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  >div{
    display: flex;
    width:90%;
    flex-shrink: 0;
  }
  input{
    border:none;
  }

}
.NewEvent__EventName{
  height:10%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  input{
    height: 1.5rem;
  }
}
.NewEvent__EventDateAndWeek{
  height:10%;
  display:flex;
  justify-content: space-between;
  div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%;
    input{
      height: 1.5rem;
    }
  }
}
.NewEvent__PassCodeAndLimit{
  height:10%;
  display:flex;
  justify-content: space-between;
  div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%;
    input{
      height: 1.5rem;
    }
  }
}
.NewEvent__EventLocation{
  height:10%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  input{
    height: 1.5rem;
  }
}
.NewEvent__HostId{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:10%;
  div{
    display: flex;
    justify-content:space-between;
  }
}
.NewEvent__EventInfo{
  overflow:hidden;
  height:35%;
  max-height: auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  span{
    overflow-wrap: break-word;
    background-color:white;
    display:flex;
    overflow-wrap:break-word;
    height:85%;
  }
}