.Admin{
  position:relative;
  overflow:scroll;
  height:90vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  ul{
    margin:0;
    padding:0;
    width: 90%;
    list-style: none;
    height:5%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    li{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      height:100%;
      width:30%;
      text-align: center;
    }
  }
  >div{
    width:90%;
    background-color:green;
    height:90%;
  }
}
.NewEvent{
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  >div{
    display: flex;
    width:90%;
    flex-shrink: 0;
  }
  input{
    border:none;
  }
  >button{
    height:5%;
  }
}
.NewEvent__FindHost{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.589);
  z-index:99;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  form{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:90%;
    height:10%;
    div{
      display:flex;
      flex-direction: column;
      justify-content:center;
      height:100%;
      width:60%;
      text-align:center;
      input{
        height:60%;
        width:90%;
      }
    }
    button{
      height: 50%;
      width:25%;
    }
  }
  >div{
    display:flex;
    flex-direction: column;
    overflow:scroll;
    justify-content:flex-start;
    height:70%;
    width:90%;
    background-color:green;
    div{
      display:flex;
      justify-content: space-evenly;
      align-items:center;
      p{
        text-align: center;
        width:28%;
      }
      .HostId{
        width:10%;
      }
      background-color:yellow;
      flex-shrink: 0;
      width:100%;
      height:10%;
    }
  }
  span{
    text-align:center;
    width:90%;
    height:10%;
  }
}
.NewEvent__EventName{
  height:8%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  input{
    height: 1.5rem;
  }
}
.NewEvent__EventDateAndWeek{
  height:8%;
  display:flex;
  justify-content: space-between;
  div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%;
    input{
      height: 1.5rem;
    }
  }
}
.NewEvent__PassCodeAndLimit{
  height:8%;
  display:flex;
  justify-content: space-between;
  div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%;
    input{
      height: 1.5rem;
    }
  }
}
.NewEvent__EventLocation{
  height:8%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  input{
    height: 1.5rem;
  }
}
.NewEvent__HostId{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:8%;
  div{
    display: flex;
    justify-content:space-between;
  }
}
.NewEvent__EventInfo{
  overflow:hidden;
  height:35%;
  max-height: auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  span{
    white-space:initial;
    overflow:scroll;
    overflow-wrap: break-word;
    background-color:white;
    display:flex;
    height:85%;
  }
}