.MyPage{
  height:90vh;
  padding:1.5rem 1.5rem 1.5rem 1.5rem;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.MyPage__Info{
  height:30%;
  // background-color:yellow;
  display:flex;
  justify-content:space-around;
  align-items: center;
  div{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width:35%;
    span{
      position: relative;
      width:100%;
      padding-top:100%;
      border-radius:100%;
      background-color:green;
      overflow: hidden;
    }
    img{
      width:100%;
      height: 100%;
      position:  absolute;
      top: 0;
      object-fit: contain;
    }
  }
  p{
    width:50%;
  }
}
.MyPage__History{
  .active{
    color: rgb(0, 0, 0)
  }
  .inactive{
    color: rgb(170, 170, 170)
  }
  height: 65%;
  // background-color:pink;
  display:flex;
  flex-direction: column;
  align-items:center;
}
.MyPage__label{
  width:60%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  height:15%;
  // background-color:green;
}
.MyPage__Events{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  width:100%;
  height:75%;
  background-color:pink;
}
.MyPage__Event{
  background-color:yellow;
  height:calc(100%/8);
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  p:first-child{
    text-align: right;
    width:15%;
  }
  P:last-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:75%;
  }
}
.MyPage__Arrows{
  width:100%;
  display:flex;
  height:10%;
  justify-content:center;
  align-items:center;
  p{
    font-size:2rem;
    text-align: center;
    width:20%;
  }
}